* {
  box-sizing: border-box;
  margin: 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  background-color: hsl(270, 5%, 17%);
  outline: 3px solid hsl(270, 5%, 17%);
}

.grid-square {
  background-color: white;
  transition: background-color 0.3s ease;
  outline: 1px solid hsl(270, 5%, 17%);
}

.hover-effect {
  background-color: hsla(271, 10%, 43%, 0.445);
}