* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  font-family: "Roboto", Helvetica, sans-serif;
}

main {
  flex: 1;
  max-width: 100%;
  padding: 0 15px;
}

button {
  display: flex;
  width: 250px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  background-color: #2b313b;
  border: #787a7f 1px solid;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: rgb(28, 27, 28) 6px 6px 3px 3px;
  border-radius: 15px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out, background-color 0.2s;
  color: hsl(40, 88%, 68%);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}




button:active {
  transform: translateY(3px) scale(0.95) !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: transform 0s;
  background-color: #1f242d !important;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  background-color: hsl(270, 5%, 17%);
  outline: 3px solid hsl(270, 5%, 17%);
}

.grid-square {
  background-color: white;
  transition: background-color 0.5s ease;
  outline: 1px solid hsl(270, 5%, 17%);
}

.hover-effect {
  background-color: hsla(271, 10%, 43%, 0.445);
}