* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #1f2937;
  font-family: "Roboto", Helvetica, sans-serif;
}

main {
  flex: 1;
  max-width: 100%;
  padding: 0 15px;
}

header p {
  color: #e5e7eb;
  margin: 0;
}

header {
  font-size: 20px;
  font-weight: bold;
  color: hsl(40, 88%, 68%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.button-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #2b313b;
  border: #787a7f 1px solid;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: rgb(28, 27, 28) 6px 6px 3px 3px;
  border-radius: 40px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out, background-color 0.2s;
  color: hsl(40, 88%, 68%);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}


button:active {
  transform: translateY(3px) scale(0.95) !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: transform 0s;
  background-color: #1f242d !important;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  background-color: white;
  outline: 3px solid hsl(270, 5%, 17%);
  box-shadow: hsl(0, 0%, 0%) 5px 8px 10px 10px;
}

.grid-square {
  background-color: white;
  transition: background-color 0.5s ease;
  outline: 1px solid hsl(270, 5%, 17%);
}

.hover-effect {
  background-color: hsla(271, 10%, 43%, 0.445);
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #e5e7eb;
}

footer a {
  color: #3882f6;
  text-decoration: none;
  transition: color 0.2s ease;
  margin-bottom: 0;
}

footer a:hover {
  color: #21a1f1;
  text-decoration: underline;
}